<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Confirm Your Order</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>Start Date:</strong> <span id="modal-start-date"></span></p>
        <p><strong>End Date:</strong> <span id="modal-end-date"></span></p>
        <p><strong>Total Price:</strong> $<span id="modal-total-price"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="final-submit-button">Submit</button>
      </div>
    </div>
  </div>
</div>
