<div class="container p-5 my-5 border">

  <%= link_to new_bag_path do %>
    <button>Create a listing</button>
  <% end %>

  <% @bags.each do |bag| %>
    <div class="cards">
    <%= link_to bag_path(bag) do%>
      <div class="card-category m -3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <h1> <%= bag.brand %> </h1>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
