<div class="row">
  <div class="col-6 left-col">
    <img src="<%=@bag.picture_url%>" style="width:50%, height: 50%, padding: 25px"  alt="">
  </div>
  <div class="col-6 right-col">
    <h2><%= @bag.brand %> | <%= @bag.condition %></h2>
    <p><%= @bag.description %></p>
  </div>

</div>
