<h2 class="text-center mt-4">Your bags</h2>
<%# If your bag is empty, this will print %>
<% if @bags.empty? %>
  <p class="text-center m-0 opacity-25"> Your bag is empty </p>
  <div class="d-flex justify-content-center">
<%# Redirect to create new bag  %>
    <%= link_to new_bag_path do %>
      <button type="button" class="btn btn-primary">Add Bag</button>
    <% end %>
  </div>
<% else %>
<%# This is our cards for the bags  %>
<div class="row">
  <% @bags.each do |bag| %>
    <div class="col-4">
      <div>
        <%= link_to bag_path(bag), class: "text-decoration-none" do %>
          <div class="card-category my-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=bag.picture_url%>)">
            <h3><%= bag.brand.capitalize %></h3>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
</div>
