<div class="container">
  <h1 class="mt-5 mb-4 text-center">Customer Care</h1>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <img src="https://as1.ftcdn.net/v2/jpg/03/68/17/74/1000_F_368177414_3tyVjF7fagiG4kCTjK8O9GlgiEToqSpj.jpg" style= "width: 100%">
    </div>
  </div>
</div>
