<div class="container">
  <h1 class="mt-5 mb-4 text-center">Customer Care</h1>
  <div class="row justify-content-center">
    <div class="col-md-8 ml-md-4">
      <img src="https://www.ctvnews.ca/polopoly_fs/1.2174767.1420547881!/httpImage/image.jpg_gen/derivatives/landscape_1020/image.jpg" class="img-fluid rounded" style="max-width: 100%; height: auto;" alt="Image">
    </div>
  </div>
</div>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-10 mx-auto text-center">
            <h2 class="mb-4">Get in Touch</h2>
            <p class="lead">Have a question, feedback, or just want to say hello? We'd love to hear from you! Reach out to us through any of the following channels:</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-8 mx-auto text-center">
            <h2 class="mb-3">Contact Information</h2>
           <ul class="list-unstyled">
    <li class="small"><strong>Phone:</strong> [514-123-4567]</li>
    <li class="small"><strong>Email:</strong> <a href="mailto:info@example.com">info@example.com</a></li>
    <li class="small"><strong>Live Chat:</strong> Available on our website or mobile app</li>
    <li class="small"><strong>Visit Us:</strong> [123, Montreal, Canada]</li>
    <li class="small"><strong>Connect With Us:</strong> <a href="https://www.facebook.com/yourpage" target="_blank">Facebook</a>, <a href="https://twitter.com/youraccount" target="_blank">Twitter</a>, <a href="https://www.instagram.com/youraccount" target="_blank">Instagram</a></li>
</ul>

        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-10 mx-auto text-center">
            <h3 class="mb-3">We're Listening</h3>
            <p class="lead">Your feedback is important to us. Whether it's a suggestion for improvement, a comment about your experience, or a question about our services, we're here to listen and respond. Don't hesitate to reach out!</p>
        </div>
    </div>
</div>
