<div class="banner-container">
    <img src="https://www.louisvuitton.com/images/is/image/lv/W_BC_LG_LVBYTHEPOOL_MAY24_01_DI3.jpg?wid=4096" alt="Banner Image">
    <div class="center-top-text">
        <p class="banner-text"> You Can rent a designer bag <br>for a fraction of the price!</p>
        <!-- Placeholder button -->
        <a href="/bags">
        <button class="button-89" role="button">Rent The perfect bag </button>
        </a>
    </div>
</div>

<div class="pradabanner" style="display: flex; align-items: center; border: 2px solid #ccc; border-bottom: 0; padding: 20px; border-radius: 10px;">
    <img class="card-img-top1" src="https://www.prada.com/content/dam/pradanux/home_page/2024/03/Prada_Galleria/Launch_03-04/modulo_pradasphere/pradasphere_home_TB.jpg/_jcr_content/renditions/cq5dam.web.1456.1456.webp" alt="Card image cap" >
    <p style="flex: 1;">List your handbag with us and receive 30% of its current market value once it's rented out</p>
</div>


<h2 class="cool-collection">Rent from over 100 luxury designer bags</h2>

<div class="cool-card-group">
    <div class="cool-card">
        <img class="cool-card-img-top" src="https://ca.louisvuitton.com/images/is/image/lv/1/PP_VP_L/louis-vuitton-neverfull-mm--M47143_PM2_Front%20view.png?wid=1440&amp;hei=1440" alt="Card image cap">
        <div class="cool-card-body">
            <h5 class="cool-card-title">Speedy 40 Bandoulière</h5>
            <p class="cool-card-text"></p>
            <p class="cool-card-text"><small class="cool-text-muted"></small></p>
        </div>
    </div>

      <div class="cool-card">
        <img class="cool-card-img-top" src="https://ca.louisvuitton.com/images/is/image/lv/1/PP_VP_L/louis-vuitton-graceful-pm--N42249_PM2_Front%20view.png?wid=2400&hei=2400" alt="Card image cap">
        <div class="cool-card-body">
            <h5 class="cool-card-title">Speedy 40 Bandoulière</h5>
            <p class="cool-card-text"></p>
            <p class="cool-card-text"><small class="cool-text-muted"></small></p>
        </div>
    </div>
      <div class="cool-card">
        <img class="cool-card-img-top" src="https://ca.louisvuitton.com/images/is/image/lv/1/PP_VP_L/louis-vuitton-neverfull-mm--M46987_PM2_Front%20view.png?wid=2400&hei=2400" alt="Card image cap">
        <div class="cool-card-body">
            <h5 class="cool-card-title">Speedy 40 Bandoulière</h5>
            <p class="cool-card-text"></p>
            <p class="cool-card-text"><small class="cool-text-muted"></small></p>
        </div>
    </div>
    <div class="cool-card">
        <img class="cool-card-img-top" src="https://ca.louisvuitton.com/images/is/image/lv/1/PP_VP_L/louis-vuitton-carryall-pm--M11462_PM2_Front%20view.png?wid=2400&hei=2400" alt="Card image cap">
        <div class="cool-card-body">
            <h5 class="cool-card-title">Avenue Slingbag NM</h5>
            <p class="cool-card-text"></p>
            <p class="cool-card-text"><small class="cool-text-muted"></small></p>
        </div>
    </div>
    <div class="cool-card">
        <img class="cool-card-img-top" src="https://media.gucci.com/style/DarkGray_Center_0_0_1200x1200/1708020010/699439_FADIC_9761_001_095_0000_Light-Ophidia-GG-small-crossbody-bag.jpg" alt="Card image cap">
        <div class="cool-card-body">
            <h5 class="cool-card-title">Gucci </h5>
        </div>
        <div class="cool-mt-auto p-3">
            <p class="cool-card-text"><small class="cool-text-muted"></small></p>
        </div>
    </div>
    <!-- Repeat for the other 2 cards -->
</div>


<div class="cool-card-group">
    <div class="cool-card">
        <img class="cool-card-img-top" src="https://www.dior.com/couture/ecommerce/media/catalog/product/J/7/1714733327_M1296ZTDT_M51E_E01_GHC.jpg?imwidth=1440" alt="Card image cap">
        <div class="cool-card-body">
            <h5 class="cool-card-title">New dior /h5>
            <p class="cool-card-text"></p>
            <p class="cool-card-text"><small class="cool-text-muted"></small></p>
        </div>
    </div>

      <div class="cool-card">
        <img class="cool-card-img-top" src="https://www.dior.com/couture/ecommerce/media/catalog/product/p/W/1701265519_M1296ZOMP_M46I_E01_GHC.jpg?imwidth=1440" alt="Card image cap">
        <div class="cool-card-body">
            <h5 class="cool-card-title">Dior Amour</h5>
            <p class="cool-card-text"></p>
            <p class="cool-card-text"><small class="cool-text-muted"></small></p>
        </div>
    </div>
      <div class="cool-card">
        <img class="cool-card-img-top" src="https://www.dior.com/couture/ecommerce/media/catalog/product/s/A/1713260713_1ESDU134LLG_H635_E01_GHC.jpg?imwidth=1440" alt="Card image cap">
        <div class="cool-card-body">
            <h5 class="cool-card-title">Dior/h5>
            <p class="cool-card-text"></p>
            <p class="cool-card-text"><small class="cool-text-muted"></small></p>
        </div>
    </div>
    <div class="cool-card">
        <img class="cool-card-img-top" src="https://www.dior.com/couture/ecommerce/media/catalog/product/P/Q/1712941245_1ESDU134LLG_H00N_E01_GHC.jpg?imwidth=1440" alt="Card image cap">
        <div class="cool-card-body">
            <h5 class="cool-card-title">Dior babe</h5>
            <p class="cool-card-text"></p>
            <p class="cool-card-text"><small class="cool-text-muted"></small></p>
        </div>
    </div>
    <div class="cool-card">
        <img class="cool-card-img-top" src="https://www.dior.com/couture/ecommerce/media/catalog/product/K/B/1715619345_1ESSH243BTW_H22Q_E01_GHC.jpg?imwidth=1440" alt="Card image cap">
        <div class="cool-card-body">
            <h5 class="cool-card-title"></h5>
        </div>
        <div class="cool-mt-auto p-3">
            <p class="cool-card-text"><small class="cool-text-muted"></small></p>
        </div>
    </div>
    <!-- Repeat for the other 2 cards -->
</div>