<div class="banner-container">
    <img src="https://www.louisvuitton.com/images/is/image/lv/W_BC_LG_LVBYTHEPOOL_MAY24_01_DI3.jpg?wid=4096" alt="Banner Image">
    <div class="center-top-text">
        <p>Rent for a Fraction<br>of the price</p>
        <button class="action-button">Learn More</button>
    </div>
</div>

<div style="display: flex; align-items: center; border: 2px solid #ccc; border-bottom: 0; padding: 20px; border-radius: 10px;">
    <img class="card-img-top" src="https://www.prada.com/content/dam/pradanux/home_page/2024/03/Prada_Galleria/Launch_03-04/modulo_pradasphere/pradasphere_home_TB.jpg/_jcr_content/renditions/cq5dam.web.1456.1456.webp" alt="Card image cap" style="max-width: 50%; border-right: 2px solid #ccc; padding-right: 20px;">
    <p style="flex: 1;">List your handbag with us and receive 30% of its current market value once it's rented out</p>
</div>




<h2 class="collection">Quilted shoulder bag</h2>

<div class="card-group">
    <div class="card">
        <img class="card-img-top" src="https://ca.louisvuitton.com/images/is/image/lv/1/PP_VP_L/louis-vuitton-neverfull-mm--M47143_PM2_Front%20view.png?wid=1440&amp;hei=1440" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Speedy 40 Bandoulière</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://ca.louisvuitton.com/images/is/image/lv/1/PP_VP_L/louis-vuitton-speedy-40-bandouliere--N40701_PM2_Front%20view.png?wid=1440&hei=1440" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Avenue Slingbag NM</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://ca.louisvuitton.com/images/is/image/lv/1/PP_VP_L/louis-vuitton-avenue-slingbag-nm--M46327_PM1_Worn%20view.png?wid=1180&hei=1180" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">OnTheGo BB</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>

