.banner-container {
    position: relative;
    display: inline-block; /* Added to make the container size fit content */
}

.banner-container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}

.center-top-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    font-weight: bold; 
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    white-space: nowrap;
    overflow: hidden;
    border-left:1em solid transparent;
    border-right:1em solid transparent;
    text-overflow: ellipsis;
}

.banner-container p {
    font-size: 5vw; /* Font size relative to viewport width */
    font-family: 'Futura PT', sans-serif;
    margin-left: 5%; /* Margin as a percentage of the container width */
    color: white;
}

/* Adjust font size for smaller screens */
@media screen and (max-width: 768px) {
    .banner-container p {
        font-size: 8vw;
    }
}

/* Add more media queries as needed for different screen sizes */

.center-top-text p {
    margin: 0; /* Remove default margin */
}

.action-button {
    background-color: #030303;
    color: #fffcfc;
    border: 2px solid #000000;
    padding: 10px 60px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.1s;
}

.action-button:hover {
    background-color: #007bff;
    color: #ffffff;
}

.main-content {
    width: 100%;
    max-width: none; /* Optionally, remove any maximum width */
}
