.left-col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.responsive-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.responsive-img:hover {
  transform: scale(1.05);
}
