<nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: white;">
  <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
</div>
<div id="navbarBasicExample" class="navbar-menu" style="background-color: white;">
  <div class="navbar-start">
    <a class="navbar-item" href="/" style="btn btn-primary">
      Home
    </a>
    <a class="navbar-item" href="/bags/new" style="color: black;">
      Start-Lending
    </a>

    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link text-decoration-none" style="color: black;">
        More
      </a>
      <div class="navbar-dropdown">
        <a class="navbar-item" href="/about" style="color: black;">
          About
        </a>
        <a class="navbar-item" href="/contact" style="color: black;">
          Contact
        </a>
      </div>
    </div>
  </div>
    <a class="navbar-item couturecarry" href="#" style="color: black;">
    CoutureCarry
  </a>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, class: "navbar-item dropdown-item", data: { turbo_method: :delete } %>
        <% else %>
        <%= link_to('Log in', new_user_session_path, class: 'button is-light text-decoration-none')%>
        <%= link_to('Sign up', new_user_registration_path, class: 'button is-primary text-decoration-none') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</nav>
